<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include("partials/head.ejs") %>
  <!-- HEAD -->

  <body>
    <!-- Header -->
    <%- include("partials/header.ejs") %>
      <!-- /Header -->


      <div class="container-fluid row contenedor-detalle">

        <div class="curso-nombre col-12">
          <p><i class="fas fa-chevron-right"></i>Cursos</p>
          <p><i class="fas fa-chevron-right"></i>
            <%- resultado.nombre %>
          </p>
        </div>

        <div class="cuerpo-curso row">

          <div class="curso-general col-12">
            <div class="titulo-curso">
              <h1>
                <%- resultado.nombre %>
              </h1>
            </div>
            <div class="subtitulo-curso">
              <p>Un curso de <%- resultado.profesor.nombre %>
                  <%- resultado.profesor.apellido %> , <%- resultado.profesor.titulo %>
              </p>
            </div>
          </div>

          <div class="seccion-detalle col-12 row">
            <div class="curso-detail col-12 col-md-6 col-lg-8">
              <ul class="nav nav-pills mb-3 row" id="pills-tab" role="tablist">
                <li class="nav-item col-6 col-lg-3" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#presentacion" type="button" role="tab" aria-controls="pills-home"
                    aria-selected="true">Presentación</button>
                </li>
                <li class="nav-item col-6 col-lg-3" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#contenido"
                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Contenidos</button>
                </li>
                <li class="nav-item col-6 col-lg-3" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#profesor"
                    type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Profesor</button>
                </li>
                <li class="nav-item col-6 col-lg-3" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#info"
                    type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Informacíon</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="presentacion" role="tabpanel"
                  aria-labelledby="pills-home-tab">
                  <div class="presentacion-curso">
                    <img src="/images/cursos/<%- resultado.imagen %>" alt="">
                  </div>
                </div>
                <div class="tab-pane fade" id="contenido" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <div class="contenidos-curso">
                    <div class="Resumen del curso">
                      <h2> Resumen del curso</h2>
                      <li>
                        <%= resultado.lecciones %> Lecciones
                      </li>

                    </div>

                  </div>
                </div>
                <div class="tab-pane fade" id="profesor" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="profesor">
                    <div>
                      <h2>
                        <span>Profesor:</span>
                        <%- resultado.profesor.nombre %>
                          <%- resultado.profesor.appellido %>
                            <h2>
                              <h2>
                                <span>Correo Electronico:</span>
                                <%= resultado.profesor.email %>
                              </h2>
                              <h2>
                                <span>Teléfono:</span>
                                <%= resultado.profesor.telefono %>
                              </h2>
                              <h2>
                                <span>Título:</span>
                                <%= resultado.profesor.titulo %>
                              </h2>

                    </div>
                    <img src="/images/cursos/<%= resultado.profesor.foto %>" alt="">
                  </div>
                </div>
                <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="info-curso">
                    <h2>Descripcion General</h2>
                    <p>
                      <%- resultado.descripcion %>
                    </p>
                    <h2>¿A quién está dirigido? </h2>
                    <p>
                      <%= resultado.publico %>
                    </p>
                    <h2>Requisitos</h2>
                    <p>
                      <%= resultado.requisitos %>
                    </p>
                  </div>
                </div>
              </div>
            </div>



            <div class="datos-curso col-12 col-md-6 col-lg-4 row">
              <div class="col-12 row datos-precio">
                <h2 class="">$ <%- resultado.precio - resultado.precio * resultado.descuento /100 %>
                </h2>

                <h3 class="">

                  <%- resultado.descuento %>% Dto.
                    <span class="tachado">$<%- resultado.precio %>ARS</span>
                </h3>
              </div>
              <form class="col-12" action="">
                <button type="submit">Comprar</button>
              </form>
              <div class="datos-curs-info col-12">
                <p> <i class="fas fa-users"></i> 6081 alumnos</p>
                <p> <i class="fas fa-play"></i>
                  <%= resultado.lecciones %> Lecciones
                </p>
                <p> <i class="fas fa-globe"></i> Online y a tu ritmo</p>
                <p> <i class="fas fa-mobile"></i> Disponible desde la app</p>


                <p> <i class="fas fa-chart-line"></i> Nivel: <%= resultado.nivel.nivel %>
                </p>
                <p> <i class="fas fa-infinity"></i> Acceso ilimitado para siempre</p>
              </div>
              <div class="un-curso-de col-12">
                <div class="un-curso-de-info">
                  <p>
                    <%- resultado.profesor.nombre %>
                      <%- resultado.profesor.apellido %>
                  </p>
                  <p>
                    <%= resultado.profesor.titulo %>
                  </p>

                </div>
                <div class="un-curso-de-foto">
                  <img src="/images/cursos/<%= resultado.profesor.imagen %> " alt="">
                </div>
              </div>
              <form class="col-12" action="">
                <button style="font-size: 20px;" type="submit">Comprar para regalo</button>
              </form>
              <a href="" class="col-12 canjear-regalo">Canjear el curso con código de regalo</a>
            </div>
          </div>
        </div>

      </div>


      <!-- FOOTER -->
      <%- include("partials/footer.ejs") %>
        <!-- FOOTER -->
  </body>

</html>